body{
    background-color: #86d4f3;
    /*background-image: linear-gradient(rgb(241, 129, 129), rgb(121, 243, 121));
    background-attachment:fixed;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 10vh;
}

.header{
    /*background-color: #368db0;*/
    background-image: linear-gradient(rgb(140, 196, 241), rgb(23, 235, 86));
    background-attachment:fixed;
}

.img{
    width: 20em;
    height: 21em;
    float: right;
    padding: 0;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1{
    text-align: center;
    color:#02331a;
    font-size: 3em;
    margin-top: 0;
    padding: 1rem;
}

.link{
    color:#2c552b;
    text-decoration: none;
}

h2 {
    color:#02331a;
    font-size: 3em;
    border-bottom: .2em solid;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: .1em;
}

h3 {
    color:#02331a;
    font-size: 2em;
    padding: .5em;
    margin-left: 1em;
}

.p {
    color: #057017;
    text-indent: 1em;
    font-size: 1.5em;
    text-align: left;
    margin-left: 1em;
}

.header p{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
    color: #2c552b;
}

@media screen and (min-width:48.75em){
    .header{
        justify-content: space-between;
    }
}